.country{
    border: 2px solid skyblue;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}

.img{
    height: 100px;
    width: 150px;
    border-radius: 12px;
}

.btn{
    color: white;
    background-color: rgb(2, 2, 2);
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    border: none;
}

.btn:hover{
    background: aliceblue;
    color: black;
}